body {
  background-color: #FEDDBE   ;}


 hr { border-style: dotted none none none;
  width:20%;
border-color:red;
border-width:5px;}


h1 {
  color:#865439
}

h2 {
color: #FC5404;

}


h3{
  color:#DE8971;
}
